{:instance-id "single-zambuko"
 :blobstore {:type "filesystem"
             :username "foo"
             :password "bar"}
 :mongo {:host "localhost"
         :post 7878
         :username "foo"
         :password "bar"
         :db "default"}
 :system-properties {
   "jclouds.filesystem.basedir" "/tmp/foo"}}
