{:instance-id "single-zambuko"
 :blobstore {:backend "filesystem"
             :username "foo"
             :password "bar"}
 :mongo {:host "localhost"
         :port 27017
         :username "foo"
         :password "bar"
         :db "default"}
 :system-properties {
   "jclouds.filesystem.basedir" "/tmp/foo"}
 :hornetq {:embedded true}
 :nrepl {:start false
         :port 59258}}
